* {
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

main{
    margin-top: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear {
    clear: both;
}

header{
    width: 100%;
    padding:5px;
    border-bottom: 2px solid #7d97ad;
}

.udacity-logo{
    height: 75px;
    width: 75px;
}

.fill-blue{
    fill: #02b3e4;
}

.main-title{
    text-align: right;
}

.font-25{
    font-size: 25px;
}

.font-20{
    font-size: 20px;
}

.font-15{
    font-size: 15px;
}

.font-10{
    font-size: 10px;
}

.font-5{
    font-size: 5px;
}

.main-heading{
    font: italic bold 25px Arial, sans-serif;
    margin: 0px;
    padding-top: 10px;
    color: #2d3c49;
}

.sub-heading{
    font: italic bold 15px Arial, sans-serif;
    margin: 0px;
    padding-top: 10px;
    color: #2d3c49;
}

.center-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.featured-work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.featured-heading{
    font-size: 25px;
    color: #7d97ad;
    text-align: center;
    padding: 10px;
}

.featured-title{
    font-size: 20px;
    color: #2d3c49;
    display: block;
    padding: 10px;
}

.featured-work a{
    text-decoration: none;
    color: #2d3c49;
}

@media screen and (min-width: 900px) {
    .appify{
        max-width: 275px;
        padding: 10px;
        order: 1;
    }

    .sunflower{
        max-width: 275px;
        padding: 10px;        
        order: 2;
    }

    .bokeh{
        max-width: 275px;
        padding: 10px;
        order: 3;
    }
}