<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Vivek's PortFolio</title>
</head>

<body>
    <header>
        <span>
            <svg class="udacity-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.000000 225.000000" preserveAspectRatio="xMidYMid meet">
                <g class="fill-blue" transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M725 2241 c-9 -8 -184 -110 -331 -192 -33 -19 -135 -77 -227 -129
                        l-167 -95 3 -580 3 -580 28 -85 c75 -226 236 -410 441 -505 108 -49 182 -66
                        316 -72 189 -8 314 26 501 134 57 33 155 90 218 126 400 227 458 264 534 342
                        57 59 114 145 145 219 60 145 62 164 59 781 l-3 560 -72 43 -71 42 -59 -33
                        c-32 -18 -152 -87 -268 -152 -115 -65 -227 -128 -247 -141 l-37 -24 -3 -597
                        -3 -598 -28 -82 c-15 -45 -32 -85 -37 -88 -13 -8 -108 19 -169 48 -52 23 -122
                        69 -165 107 -36 31 -105 130 -134 192 -49 101 -52 144 -52 733 l0 550 -71 43
                        c-72 43 -88 48 -104 33z m1350 -1241 c-38 -185 -148 -325 -318 -408 -73 -36
                        -157 -61 -157 -48 0 3 10 42 22 88 20 79 21 108 24 623 2 297 4 545 4 550 0 6
                        82 57 183 114 100 57 198 114 217 126 l35 22 3 -496 c2 -414 0 -508 -13 -571z
                        m-1335 563 c1 -371 4 -517 14 -573 47 -263 239 -487 494 -576 37 -12 68 -27
                        70 -32 5 -15 -105 -108 -169 -142 -155 -82 -294 -104 -451 -72 -232 48 -414
                        202 -505 429 l-28 68 0 534 0 534 70 42 c39 23 120 70 180 105 61 35 153 89
                        205 121 52 32 101 59 108 59 9 0 12 -106 12 -497z" />
                </g>
            </svg>
        </span>
        <div class="right main-title">
            <h1 class="main-heading">Vivek Singh Tomar</h1>
            <h3 class="sub-heading">Ninja To Be!!!!!!</h3>
        </div>
    </header>
    <div class="clear"></div>
    <main>
        <picture class="center-image">
            <source media="screen and (min-width: 900px)" srcset="../images/main-image750x320.jpg">
            <source media="screen and (min-width: 600px)" srcset="../images/main-image600x300.jpg">
            <img src="../images/main-image320x320.jpg" alt="Vivek Singh Tomar" title="Vivek Singh Tomar">
        </picture>
        <article>
            <h2 class="featured-heading">Featured Work</h2>
            <div class="featured-work">
                <div class="appify center-image">
                    <picture>
                        <source media="screen and (min-width: 900px)" srcset="../images/appify-fallback200x200.jpg">                                
                        <source media="screen and (min-width: 600px)" srcset="../images/appify.jpg">
                        <img src="../images/appify-fallback.jpg" alt="Appify" title="Appify">
                    </picture>
                    <span class="featured-title">
                        Appify
                    </span>
                    <a title="Appify" href="https://github.com/udacity/appify">https://github.com/udacity/appify</a>
                </div>
                <div class="sunflower center-image">
                    <picture>
                        <source media="screen and (min-width: 900px)" srcset="../images/sun-flower-fallback200x200.jpg">
                        <source media="screen and (min-width: 600px)" srcset="../images/sun-flower.jpg">
                        <img src="../images/sun-flower-fallback.jpg" alt="SunFlower" title="SunFlower">
                    </picture>
                    <span class="featured-title">
                        Sun Flower
                    </span>
                    <a title="Sun Flower" href="https://github.com/udacity/sunflower">https://github.com/udacity/sunflower</a>
                </div>
                <div class="bokeh center-image">
                    <picture>
                        <source media="screen and (min-width: 900px)" srcset="../images/bokeh-fallback200x200.jpg">
                        <source media="screen and (min-width: 600px)" srcset="../images/bokeh.jpg">
                        <img src="../images/bokeh-fallback.jpg" alt="Bokeh" title="Bokeh">
                    </picture>
                    <span class="featured-title">
                        Bokeh
                    </span>
                    <a title="Bokeh" href="https://github.com/udacity/bokeh">https://github.com/udacity/bokeh</a>
                </div>
            </div>
        </article>
    </main>
</body>

</html>